<table border="1">
    <thead>
        <tr>
            <th>Plan</th>
            <th>Renta</th>
            <th>Cantidad</th>
            <th>Comisión Base</th>
        </tr>
    </thead>
    <tbody>
        {% for plan, datos in comisiones[tipo_venta].items() %}
        <tr>
            <td>{{ plan }}</td>
            <td>${{ "{:,}".format(datos["RENTA"]) }}</td>
            <td>
                <input type="number" name="{{ plan }}" id="cantidad-{{ plan }}"
                    value="{{ cantidades[plan] }}" min="0"
                    data-monto="{{ datos['COMISION'] }}">
            </td>
            <td id="comision-{{ plan }}">$0</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
